Repository omegaup/omegaup, pull requests merged in 2023-11, with the labels that each got.

#7291 Agregando link de descarga del diploma PDF
  frontend/server/nginx.rewrites
  frontend/server/src/Controllers/Certificate.php
  frontend/templates/en.lang
  frontend/templates/es.lang
  frontend/templates/pseudo.lang
  frontend/templates/pt.lang
  frontend/www/certificate/download.php
  frontend/www/js/omegaup/lang.en.json
  frontend/www/js/omegaup/lang.en.ts
  frontend/www/js/omegaup/lang.es.json
  frontend/www/js/omegaup/lang.es.ts
  frontend/www/js/omegaup/lang.pseudo.json
  frontend/www/js/omegaup/lang.pseudo.ts
  frontend/www/js/omegaup/lang.pt.json
  frontend/www/js/omegaup/lang.pt.ts
Labels: waiting-review

#7310 Storybook: Markdown & Badge details
  .storybook/main.ts
  frontend/www/js/omegaup/components/Markdown.stories.ts
  frontend/www/js/omegaup/components/badge/Badge.stories.ts
  frontend/www/js/omegaup/components/badge/Badge.vue
  frontend/www/js/omegaup/components/badge/Details.stories.ts
Labels: waiting-review

#7284 Corrigiendo condición en getNextRegisteredContestForUser
  frontend/server/src/DAO/Contests.php
Labels: waiting-review

#7306 Agregando código de verificación al PDF del diploma
  frontend/server/src/Controllers/Certificate.php
  frontend/templates/en.lang
  frontend/templates/es.lang
  frontend/templates/pseudo.lang
  frontend/templates/pt.lang
  frontend/www/js/omegaup/lang.en.json
  frontend/www/js/omegaup/lang.en.ts
  frontend/www/js/omegaup/lang.es.json
  frontend/www/js/omegaup/lang.es.ts
  frontend/www/js/omegaup/lang.pseudo.json
  frontend/www/js/omegaup/lang.pseudo.ts
  frontend/www/js/omegaup/lang.pt.json
  frontend/www/js/omegaup/lang.pt.ts
Labels: waiting-review

#7283 Agregando UI Verificar Diploma
  frontend/server/bootstrap.php
  frontend/server/nginx.rewrites
  frontend/server/src/Controllers/Certificate.php
  frontend/server/src/DAO/Certificates.php
  frontend/templates/en.lang
  frontend/templates/es.lang
  frontend/templates/pseudo.lang
  frontend/templates/pt.lang
  frontend/tests/controllers/CertificateValidateTest.php
  frontend/www/certificate/validation.php
  frontend/www/js/omegaup/api_types.ts
  frontend/www/js/omegaup/certificate/validation.ts
  frontend/www/js/omegaup/components/certificate/Validation.vue
  frontend/www/js/omegaup/lang.en.json
  frontend/www/js/omegaup/lang.en.ts
  frontend/www/js/omegaup/lang.es.json
  frontend/www/js/omegaup/lang.es.ts
  frontend/www/js/omegaup/lang.pseudo.json
  frontend/www/js/omegaup/lang.pseudo.ts
  frontend/www/js/omegaup/lang.pt.json
  frontend/www/js/omegaup/lang.pt.ts
  webpack.config-frontend.js
Labels: waiting-review

#7329 Corrigiendo rankings
  frontend/templates/en.lang
  frontend/templates/pseudo.lang
  frontend/www/js/omegaup/components/user/Rank.vue
  frontend/www/js/omegaup/lang.en.json
  frontend/www/js/omegaup/lang.en.ts
  frontend/www/js/omegaup/lang.pseudo.json
  frontend/www/js/omegaup/lang.pseudo.ts
Labels: final-review

#7323 Add unique key certificates
  frontend/database/00220_add_unique_key_for_certificates.sql
  frontend/database/schema.sql
Labels: P1, waiting-review

#7298 Agregando primera parte de apiGenerateContestCertificates
  .github/workflows/ci.yml
  frontend/server/config.default.php
  frontend/server/src/Controllers/Certificate.php
  frontend/server/src/Controllers/Contest.php
  frontend/server/src/Controllers/README.md
  frontend/server/src/RabbitMQConnection.php
  frontend/tests/Factories/Contest.php
  frontend/tests/controllers/CertificatesTest.php
  frontend/tests/test_config.default.php
  frontend/www/js/omegaup/api.ts
  frontend/www/js/omegaup/api_types.ts
Labels: waiting-review

#7345 Cambiando wait-for-it por retry para RabbitMQ en pruebas de Python
  .github/workflows/ci.yml
Labels: final-review

#7289 Agregando pruebas para Verificar Diploma
  frontend/www/js/omegaup/components/certificate/Validation.test.ts
Labels: waiting-review

#7326 Se agrega un componente faltante en Perfil de escuelas
  frontend/www/js/omegaup/components/schools/Profile.test.ts
  frontend/www/js/omegaup/components/schools/Profile.vue
Labels: waiting-review

#7344 Arreglando APIGroupsList para que busque en nombre y alias
  frontend/server/src/Controllers/Group.php
  frontend/server/src/Controllers/README.md
  frontend/server/src/DAO/Groups.php
  frontend/tests/controllers/GroupsTest.php
Labels: waiting-review
