Repository omegaup/omegaup, pull requests merged in 2023-08, with the labels that each got.

#7121 Evitando insertar null en campo score de la tabla User_Rank
  stuff/cron/update_ranks.py
Labels: P1

#7124 [ DESKTOP ] IntroJS - Como me registro
  cypress/integration/basic_commands.spec.ts
  frontend/server/src/Controllers/User.php
  frontend/server/src/UITools.php
  frontend/templates/en.lang
  frontend/templates/es.lang
  frontend/templates/pseudo.lang
  frontend/templates/pt.lang
  frontend/tests/ui/conftest.py
  frontend/www/js/omegaup/api_types.ts
  frontend/www/js/omegaup/components/login/Signin.vue
  frontend/www/js/omegaup/components/login/Signup.vue
  frontend/www/js/omegaup/lang.en.json
  frontend/www/js/omegaup/lang.en.ts
  frontend/www/js/omegaup/lang.es.json
  frontend/www/js/omegaup/lang.es.ts
  frontend/www/js/omegaup/lang.pseudo.json
  frontend/www/js/omegaup/lang.pseudo.ts
  frontend/www/js/omegaup/lang.pt.json
  frontend/www/js/omegaup/lang.pt.ts
  frontend/www/js/omegaup/login/signin.ts
  frontend/www/sass/components/_buttons.scss
  package.json
Labels: final-review

#7118 [ DESKTOP ] Landing Update
  frontend/www/js/omegaup/components/homepage/SchoolOfTheMonth.vue
  frontend/www/js/omegaup/components/homepage/Section.vue
  frontend/www/js/omegaup/components/homepage/Slide.vue
  frontend/www/js/omegaup/components/homepage/Sponsors.vue
  frontend/www/js/omegaup/components/homepage/Testimonials.vue
Labels: final-review

#7140 Ordenando el contenido horizontalmente en Problemas por Autor
  frontend/www/js/omegaup/components/problem/BaseList.vue
  frontend/www/js/omegaup/components/problem/CollectionListAuthor.vue
  frontend/www/js/omegaup/components/problem/FilterAuthors.vue
  frontend/www/js/omegaup/components/problem/FilterDifficulty.vue
  frontend/www/js/omegaup/components/problem/FilterQuality.vue
Labels: final-review

#7160 Ordenando el contenido de detalle de cursos
  frontend/www/js/omegaup/components/course/Details.vue
Labels: waiting-review

#7185 Revert "Regresando las pruebas que se habían deshabilitado por causas de flakiness"
  stuff/pipelines/test_client_contest.py
Labels: final-review

#7119 [ DESKTOP ] Navbar changes
  frontend/www/js/omegaup/components/common/Navbar.vue
  frontend/www/sass/base/_variables.scss
Labels: final-review

#7153 Agregando el mensaje “No tenemos datos para mostrar en el Ranking” sino hay información que mostrar en el Ranking
  frontend/templates/en.lang
  frontend/templates/es.lang
  frontend/templates/pseudo.lang
  frontend/templates/pt.lang
  frontend/www/js/omegaup/components/arena/Scoreboard.vue
  frontend/www/js/omegaup/lang.en.json
  frontend/www/js/omegaup/lang.en.ts
  frontend/www/js/omegaup/lang.es.json
  frontend/www/js/omegaup/lang.es.ts
  frontend/www/js/omegaup/lang.pseudo.json
  frontend/www/js/omegaup/lang.pseudo.ts
  frontend/www/js/omegaup/lang.pt.json
  frontend/www/js/omegaup/lang.pt.ts
Labels: final-review

#7169 Agregando checkbox para filtrar la lista de problemas con distintivo de calidad
  frontend/server/src/Controllers/Problem.php
  frontend/www/js/omegaup/components/problem/List.vue
  frontend/www/js/omegaup/components/problem/SearchBar.test.ts
  frontend/www/js/omegaup/components/problem/SearchBar.vue
  frontend/www/js/omegaup/problem/list.ts
Labels: final-review

#7182 Agregando función al DAO Contests y prueba PHPUnit
  frontend/server/src/Controllers/User.php
  frontend/server/src/DAO/Contests.php
  frontend/server/src/UITools.php
  frontend/tests/controllers/ContestUsersTest.php
  frontend/www/js/omegaup/api_types.ts
Labels: final-review
