Repository omegaup/omegaup, pull requests merged in 2024-10, with the labels that each got.

#7840 Add cypress test for sidebar and layout
  cypress/e2e/problem_creator.cy.ts
  frontend/www/js/omegaup/components/problem/creator/cases/CaseEdit.test.ts
  frontend/www/js/omegaup/components/problem/creator/cases/CaseEdit.vue
  frontend/www/js/omegaup/components/problem/creator/cases/LayoutSidebar.vue
  frontend/www/js/omegaup/components/problem/creator/cases/Sidebar.vue
Labels: GSoC'24

#7843 Remove old code
  cypress/e2e/ide.cy.ts
  frontend/www/grader/ephemeral/favicon.ico
  frontend/www/grader/ephemeral/style.css
  frontend/www/grader/ephemeral/templates/index-light.html
  frontend/www/grader/ephemeral/templates/index.html
  frontend/www/js/omegaup/components/arena/EphemeralGrader.vue
  frontend/www/js/omegaup/components/arena/RunSubmitPopup.vue
  frontend/www/js/omegaup/components/problem/creator/code/CodeTab.vue
  frontend/www/js/omegaup/grader/CaseSelector.vue
  frontend/www/js/omegaup/grader/CaseSelectorComponent.vue
  frontend/www/js/omegaup/grader/DiffEditor.vue
  frontend/www/js/omegaup/grader/Ephemeral.vue
  frontend/www/js/omegaup/grader/GoldenLayoutConfigs.ts
  frontend/www/js/omegaup/grader/GraderStore.js
  frontend/www/js/omegaup/grader/GraderStore.ts
  frontend/www/js/omegaup/grader/GraderTemplates.js
  frontend/www/js/omegaup/grader/GraderTemplates.ts
  frontend/www/js/omegaup/grader/IDESettings.vue
  frontend/www/js/omegaup/grader/MonacoDiffComponent.vue
  frontend/www/js/omegaup/grader/MonacoEditor.vue
  frontend/www/js/omegaup/grader/MonacoEditorComponent.vue
  frontend/www/js/omegaup/grader/SettingsComponent.vue
  frontend/www/js/omegaup/grader/TextEditor.vue
  frontend/www/js/omegaup/grader/TextEditorComponent.vue
  frontend/www/js/omegaup/grader/ZipViewer.vue
  frontend/www/js/omegaup/grader/ZipViewerComponent.vue
  frontend/www/js/omegaup/grader/ephemeral.js
  frontend/www/js/omegaup/grader/ide.ts
  frontend/www/js/omegaup/grader/util.js
  frontend/www/js/omegaup/grader/util.ts
  frontend/www/js/omegaup/graderv2/ephemeral.ts
  package.json
  webpack.config-frontend.js
  webpack.config-grader.js
  webpack.config-graderv2.js
  yarn.lock
Labels: waiting-review

#7846 Get preferred langauge properly
  frontend/www/js/omegaup/components/arena/EphemeralGrader.vue
  frontend/www/js/omegaup/components/problem/Details.vue
Labels: final-review

#7835 Add feature for layout rename
  frontend/templates/en.lang
  frontend/templates/es.lang
  frontend/templates/pseudo.lang
  frontend/templates/pt.lang
  frontend/www/js/omegaup/components/problem/creator/cases/LayoutSidebar.test.ts
  frontend/www/js/omegaup/components/problem/creator/cases/LayoutSidebar.vue
  frontend/www/js/omegaup/lang.en.json
  frontend/www/js/omegaup/lang.en.ts
  frontend/www/js/omegaup/lang.es.json
  frontend/www/js/omegaup/lang.es.ts
  frontend/www/js/omegaup/lang.pseudo.json
  frontend/www/js/omegaup/lang.pseudo.ts
  frontend/www/js/omegaup/lang.pt.json
  frontend/www/js/omegaup/lang.pt.ts
  frontend/www/js/omegaup/problem/creator/modules/cases.ts
Labels: final-review

#7841 use correct variable
  cypress/e2e/ide.cy.ts
  cypress/fixtures/interactive_template.cpp
  frontend/www/js/omegaup/grader/GraderStore.ts
Labels: final-review

#7852 Evitando que se puedan agregar problemas privados a tareas de un curso
  frontend/server/src/Controllers/Course.php
  frontend/server/src/Controllers/Problemset.php
  frontend/templates/en.lang
  frontend/templates/es.lang
  frontend/templates/pseudo.lang
  frontend/templates/pt.lang
  frontend/tests/controllers/AssignmentProblemsTest.php
  frontend/tests/controllers/ContestAddProblemTest.php
  frontend/tests/controllers/CourseCloneTest.php
  frontend/www/js/omegaup/lang.en.json
  frontend/www/js/omegaup/lang.en.ts
  frontend/www/js/omegaup/lang.es.json
  frontend/www/js/omegaup/lang.es.ts
  frontend/www/js/omegaup/lang.pseudo.json
  frontend/www/js/omegaup/lang.pseudo.ts
  frontend/www/js/omegaup/lang.pt.json
  frontend/www/js/omegaup/lang.pt.ts
Labels: waiting-review

#7851 Arreglando un pequeño error en la lista de concursos
  frontend/www/js/omegaup/components/arena/ContestListv2.vue
Labels: waiting-review

#7847 Preparando cambios para que funcionen filtros y orden desde API
  frontend/server/src/Controllers/Contest.php
  frontend/server/src/Controllers/README.md
  frontend/server/src/DAO/Contests.php
  frontend/server/src/DAO/Enum/ContestTabStatus.php
  frontend/server/src/DAO/Enum/StatusBase.php
  frontend/tests/controllers/ContestListTest.php
  frontend/tests/controllers/ContestListv2Test.php
  frontend/www/js/omegaup/api_types.ts
Labels: waiting-review

#7849 Arreglando los filtros y ordenamiento en la vista de ContestList
  frontend/www/js/omegaup/arena/contestStore.ts
  frontend/www/js/omegaup/arena/contest_listv2.ts
  frontend/www/js/omegaup/components/arena/ContestListv2.test.ts
  frontend/www/js/omegaup/components/arena/ContestListv2.vue
Labels: waiting-review

#7838 Agregando concursos en bootstrap.json para probar listas de concursos
  stuff/bootstrap.json
Labels: waiting-review

#7856 Arreglando algunos tipos en PHP para dejar de usar `mixed`
  frontend/server/src/Controllers/Problem.php
  frontend/server/src/Controllers/README.md
  frontend/tests/controllers/ContestUsersTest.php
  frontend/tests/controllers/GroupsTest.php
  frontend/tests/controllers/ProblemListTest.php
  frontend/www/problems/creator.php
Labels: waiting-review
