Repository omegaup/omegaup, pull requests merged in 2025-03, with the labels that each got.

#8005 Add printable version button to problem edit page
  frontend/templates/en.lang
  frontend/templates/es.lang
  frontend/templates/pseudo.lang
  frontend/templates/pt.lang
  frontend/www/js/omegaup/components/problem/Edit.vue
  frontend/www/js/omegaup/lang.en.json
  frontend/www/js/omegaup/lang.en.ts
  frontend/www/js/omegaup/lang.es.json
  frontend/www/js/omegaup/lang.es.ts
  frontend/www/js/omegaup/lang.pseudo.json
  frontend/www/js/omegaup/lang.pseudo.ts
  frontend/www/js/omegaup/lang.pt.json
  frontend/www/js/omegaup/lang.pt.ts
Labels: GSoC

#8008 Actualizando la versión de Cypress a la 14.1.0
  package.json
  yarn.lock
Labels: waiting-review

#8002 Agregando la traducción al inglés del documento Arquitectura
  frontend/www/docs/Architecture-(English).md
  frontend/www/docs/Arquitectura.md
Labels: final-review

#8006 Agregando la traducción del documento Release & Deployment
  frontend/www/docs/I-Want-to-Develop-in-omegaUp.md
  frontend/www/docs/Quiero-desarrollar-en-omegaUp.md
  frontend/www/docs/Release-&-deployment-(English).md
  frontend/www/docs/Release-&-deployment.md
Labels: final-review

#7997 Remove pagination and implement infinite scrolling in contest list
  frontend/www/js/omegaup/arena/contestStore.ts
  frontend/www/js/omegaup/arena/contest_listv2.ts
  frontend/www/js/omegaup/components/arena/ContestListv2.test.ts
  frontend/www/js/omegaup/components/arena/ContestListv2.vue
Labels: GSoC

#8012 Wrong privacy links updated
  frontend/templates/en.lang
  frontend/templates/es.lang
  frontend/templates/pseudo.lang
  frontend/templates/pt.lang
  frontend/www/js/omegaup/components/common/Footer.vue
  frontend/www/js/omegaup/lang.en.json
  frontend/www/js/omegaup/lang.en.ts
  frontend/www/js/omegaup/lang.es.json
  frontend/www/js/omegaup/lang.es.ts
  frontend/www/js/omegaup/lang.pseudo.json
  frontend/www/js/omegaup/lang.pseudo.ts
  frontend/www/js/omegaup/lang.pt.json
  frontend/www/js/omegaup/lang.pt.ts
Labels: GSoC

#8031 Suggested tags getting croped in Problem Finder
  frontend/www/sass/base/_common.scss
Labels: GSoC

#8016 Add index on Schools.name to optimize search performance
  frontend/database/00231_add_index_schools_name.sql
  frontend/database/schema.sql
  frontend/server/src/DAO/Schools.php
Labels: GSoC

#8039 Fixed birthdate offset issue and improved validation
  frontend/server/src/Controllers/User.php
  frontend/www/js/omegaup/components/user/BasicInformationEdit.vue
Labels: GSoC

#8040 Fix broken links in footer and hero section (#8038)
  frontend/templates/en.lang
  frontend/templates/es.lang
  frontend/templates/pseudo.lang
  frontend/templates/pt.lang
  frontend/www/js/omegaup/carousel.config.ts
  frontend/www/js/omegaup/components/common/Footer.vue
  frontend/www/js/omegaup/lang.en.json
  frontend/www/js/omegaup/lang.en.ts
  frontend/www/js/omegaup/lang.es.json
  frontend/www/js/omegaup/lang.es.ts
  frontend/www/js/omegaup/lang.pseudo.json
  frontend/www/js/omegaup/lang.pseudo.ts
  frontend/www/js/omegaup/lang.pt.json
  frontend/www/js/omegaup/lang.pt.ts
Labels: GSoC

#7992 [FEATURE] Added logout confirmation dialog
  cypress/support/commands.ts
  frontend/templates/en.lang
  frontend/templates/es.lang
  frontend/templates/pseudo.lang
  frontend/templates/pt.lang
  frontend/www/js/omegaup/components/common/LogoutConfirmation.vue
  frontend/www/js/omegaup/components/common/Navbar.vue
  frontend/www/js/omegaup/lang.en.json
  frontend/www/js/omegaup/lang.en.ts
  frontend/www/js/omegaup/lang.es.json
  frontend/www/js/omegaup/lang.es.ts
  frontend/www/js/omegaup/lang.pseudo.json
  frontend/www/js/omegaup/lang.pseudo.ts
  frontend/www/js/omegaup/lang.pt.json
  frontend/www/js/omegaup/lang.pt.ts
Labels: GSoC

#8097 Added dropdown to update font-size in editor, also added translations
  frontend/templates/en.lang
  frontend/templates/es.lang
  frontend/templates/pseudo.lang
  frontend/templates/pt.lang
  frontend/www/js/omegaup/grader/MonacoEditor.vue
  frontend/www/js/omegaup/lang.en.json
  frontend/www/js/omegaup/lang.en.ts
  frontend/www/js/omegaup/lang.es.json
  frontend/www/js/omegaup/lang.es.ts
  frontend/www/js/omegaup/lang.pseudo.json
  frontend/www/js/omegaup/lang.pseudo.ts
  frontend/www/js/omegaup/lang.pt.json
  frontend/www/js/omegaup/lang.pt.ts
  frontend/www/js/omegaup/lang.ts
  frontend/www/sass/base/_variables.scss
Labels: final-review, GSoC

#8095 Improving the way to retrieve URL parameters after signing in
  frontend/www/js/omegaup/login/signin.ts
Labels: final-review, GSoC

#8082 Add missing verdict styles in submission and arena components
  frontend/www/js/omegaup/components/arena/Runs.vue
  frontend/www/js/omegaup/components/arena/RunsForCourses.vue
  frontend/www/js/omegaup/components/arena/Runsv2.vue
  frontend/www/js/omegaup/components/submissions/List.vue
  frontend/www/sass/base/_variables.scss
Labels: final-review, GSoC

#8092 Refactor NavbarItems.vue to improve alignment and styling
  frontend/www/js/omegaup/components/common/Navbar.vue
  frontend/www/js/omegaup/components/common/NavbarItems.vue
Labels: GSoC

#8004 Add user profile information display in contest intro component
  frontend/server/src/Controllers/Contest.php
  frontend/www/js/omegaup/api_types.ts
  frontend/www/js/omegaup/components/contest/Intro.vue
  frontend/www/js/omegaup/contest/intro.ts
Labels: GSoC

#8009 Agregando la traducción del documento "How to use Cypress"
  frontend/www/docs/Cómo-utilizar-Cypress-en-omegaUp.md
  frontend/www/docs/How-to-use-Cypress-in-omegaUp.md
Labels: waiting-review
