Repository omegaup/omegaup, pull requests merged in 2025-04, with the labels that each got.

#8019 Fix bug about enrolled contest page
  cypress/e2e/navigation.cy.ts
  frontend/www/docs/How-to-use-Cypress-in-omegaUp.md
  frontend/www/js/omegaup/arena/contest_listv2.ts
  frontend/www/js/omegaup/components/arena/ContestListv2.vue
  frontend/www/js/omegaup/components/common/Navbar.vue
Labels: GSoC

#8078 Fixed broken blog post links in user and school ranking pages
  frontend/www/js/omegaup/components/schools/Rank.vue
  frontend/www/js/omegaup/components/user/Rank.vue
Labels: final-review, GSoC

#8047 Added the news table in schema
  frontend/database/00232_add_sample_news.sql
  frontend/database/schema.sql
Labels: GSoC

#8010 Agregando la traducción del documento herramientas de monitoreo
  frontend/www/docs/Herramientas-de-monitoreo.md
  frontend/www/docs/Monitoring-Tools.md
Labels: waiting-review

#7994 Actualizando las URLs que apuntaban a github en los documentos de la wiki
  PULL_REQUEST_TEMPLATE.MD
  frontend/README.md
  frontend/www/docs/Coding-guidelines.md
  frontend/www/docs/Cómo-actualizar-y-configurar-tu-copia-local-de-omegaup-antes-de-hacer-cambios.md
  frontend/www/docs/Cómo-escribir-problemas-para-omegaUp.md
  frontend/www/docs/Cómo-usar-git-en-consola.md
  frontend/www/docs/Google-Summer-of-Code-2025.md
  frontend/www/docs/How-to-Update-Your-Local-Copy-of-omegaup-Before-Making-Changes.md
  frontend/www/docs/I-Want-to-Develop-in-omegaUp.md
  frontend/www/docs/Internships-en-omegaUp-Patrocinados-por-Google.md
  frontend/www/docs/Ligas-útiles.md
  frontend/www/docs/REST-API.md
  frontend/www/docs/Useful-Commands-for-Development.md
  frontend/www/docs/omegaUp-at-Google-Code-in-2019.md
Labels: waiting-review

#8119 Fix/8101 fix initial contest list empty on refresh
  frontend/www/js/omegaup/arena/contest_listv2.ts
  frontend/www/js/omegaup/components/arena/ContestListv2.vue
Labels: final-review

#8115 Centralised URL update mechanism for all blog links on omeagup
  cypress/e2e/course.cy.ts
  cypress/support/types.d.ts
  frontend/templates/blog-links-config.json
  frontend/templates/en.lang
  frontend/templates/es.lang
  frontend/templates/pseudo.lang
  frontend/templates/pt.lang
  frontend/www/js/omegaup/components/common/Footer.vue
  frontend/www/js/omegaup/components/homepage/CoderOfTheMonth.vue
  frontend/www/js/omegaup/components/homepage/SchoolOfTheMonth.vue
  frontend/www/js/omegaup/components/login/Signup.vue
  frontend/www/js/omegaup/components/problem/BaseList.vue
  frontend/www/js/omegaup/components/problem/Solution.vue
  frontend/www/js/omegaup/components/schools/Rank.vue
  frontend/www/js/omegaup/components/teamsgroup/Upload.vue
  frontend/www/js/omegaup/components/user/BasicInfov2.vue
  frontend/www/js/omegaup/components/user/Rank.vue
  frontend/www/js/omegaup/lang.en.json
  frontend/www/js/omegaup/lang.en.ts
  frontend/www/js/omegaup/lang.es.json
  frontend/www/js/omegaup/lang.es.ts
  frontend/www/js/omegaup/lang.pseudo.json
  frontend/www/js/omegaup/lang.pseudo.ts
  frontend/www/js/omegaup/lang.pt.json
  frontend/www/js/omegaup/lang.pt.ts
  frontend/www/js/omegaup/urlHelper.ts
Labels: final-review

#8212 Allow editing course properties without requiring start date update
  frontend/www/js/omegaup/components/course/Form.vue
Labels: final-review

#8219 Update UX.md
  frontend/www/docs/UX.md
Labels: final-review

#8213 Documentation translation to English: Subpart-> Conversion of REST-API.md
  frontend/www/docs/REST-API.md
Labels: final-review

#8221 Badge for streak 15 days and 30 days issue #8220
  frontend/badges/15dayStreak/icon.svg
  frontend/badges/15dayStreak/localizations.json
  frontend/badges/15dayStreak/query.sql
  frontend/badges/15dayStreak/test.json
  frontend/badges/30dayStreak/icon.svg
  frontend/badges/30dayStreak/localizations.json
  frontend/badges/30dayStreak/query.sql
  frontend/badges/30dayStreak/test.json
  frontend/templates/en.lang
  frontend/templates/es.lang
  frontend/templates/pseudo.lang
  frontend/templates/pt.lang
  frontend/tests/badges/Badge_15dayStreakTest.php
  frontend/tests/badges/Badge_30dayStreakTest.php
  frontend/www/js/omegaup/lang.en.json
  frontend/www/js/omegaup/lang.en.ts
  frontend/www/js/omegaup/lang.es.json
  frontend/www/js/omegaup/lang.es.ts
  frontend/www/js/omegaup/lang.pseudo.json
  frontend/www/js/omegaup/lang.pseudo.ts
  frontend/www/js/omegaup/lang.pt.json
  frontend/www/js/omegaup/lang.pt.ts
Labels: final-review

#8181 Fix GitHub workflow bug related to Docker container startup
  .github/workflows/ci.yml
Labels: final-review

#8148 Fix spacing issue with country flags in username display
  frontend/www/js/omegaup/components/CountryFlag.vue
Labels: final-review

#8231 Pausando por un tiempo el programa de Escuela del mes
  frontend/templates/en.lang
  frontend/templates/es.lang
  frontend/templates/pseudo.lang
  frontend/templates/pt.lang
  frontend/tests/Utils.php
  frontend/www/js/omegaup/components/coderofthemonth/CandidatesList.vue
  frontend/www/js/omegaup/components/coderofthemonth/TopCodersList.vue
  frontend/www/js/omegaup/components/schoolofthemonth/List.vue
  frontend/www/js/omegaup/lang.en.json
  frontend/www/js/omegaup/lang.en.ts
  frontend/www/js/omegaup/lang.es.json
  frontend/www/js/omegaup/lang.es.ts
  frontend/www/js/omegaup/lang.pseudo.json
  frontend/www/js/omegaup/lang.pseudo.ts
  frontend/www/js/omegaup/lang.pt.json
  frontend/www/js/omegaup/lang.pt.ts
  stuff/cron/update_ranks.py
Labels: final-review

#8151 [FEATURE] Enable full-width mode and dynamic height for redaccion.php markdown editor (#8145)
  frontend/www/redaccion.php
Labels: final-review

#8130 Add Difficulty Level Filter to Public Courses
  frontend/templates/en.lang
  frontend/templates/es.lang
  frontend/templates/pseudo.lang
  frontend/templates/pt.lang
  frontend/www/js/omegaup/components/course/Tabs.vue
  frontend/www/js/omegaup/lang.en.json
  frontend/www/js/omegaup/lang.en.ts
  frontend/www/js/omegaup/lang.es.json
  frontend/www/js/omegaup/lang.es.ts
  frontend/www/js/omegaup/lang.pseudo.json
  frontend/www/js/omegaup/lang.pseudo.ts
  frontend/www/js/omegaup/lang.pt.json
  frontend/www/js/omegaup/lang.pt.ts
Labels: final-review

#8168 Document JSX IntrinsicElements workaround as a dev tip (do not add globally)
  frontend/www/docs/Coding-guidelines.md
Labels: final-review
